
.App-header {
    height: 300px; /* Initial height */
    background-image: url('../images/bmb-live2.webp');
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center; /* Align items to each side */
    padding: 0.5rem 0.1rem; /* Adjusted padding */
    align-items: center;
    position: relative;
  }

  .header-content {
    width: 100%; /* Ensures the header content takes the full width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .bmb {
    display: flex;
    justify-content: space-between; /* Align items to each side */
    align-items: center;
    width: 250px;
  }
  
  .mobile-nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: black;
  }

  .mobile-nav.active {
    display: block; /* Show when active */
  }
  
  .mobile-nav ul {
    list-style-type: none;
    padding: 0;
}
  
  .mobile-nav a {
    text-decoration: none;
    color: rgb(253, 245, 237); /* Example color */
    display: block;
    padding: 10px 0;}

  .mobile-nav a:hover, .mobile-nav a.active{
    background-color: rgb(125, 125, 125);
    color: rgb(253, 245, 237); /* Example color */
  }

  .hamburger {
    /* mix-blend-mode: difference;  or 'exclusion' */
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px; /* Adjust the width as needed */
    height: 48px; /* Adjust the height as needed */
    position: fixed; /* Positions the icon lines within */
    top: 0; /* Top of the viewport */
    right: 0; /* Left of the viewport */
    z-index: 100; /* Ensure it's above other content */
    padding: 1rem;
  }
  
  .hamburger .icon,
  .hamburger .icon::before,
  .hamburger .icon::after {
    content: '';
    background-color: #ffebeb; /* or any color that stands out against your header */
    height: 2px;
    width: 30px; /* Adjust based on your design preference */
    position: absolute;
    transition: transform 0.3s ease;
  }
  
  .hamburger .icon::before { transform: translateY(-10px) translateX(-50%); }
  .hamburger .icon::after { transform: translateY(10px) translateX(-50%); }
  
  .hamburger .icon.open::before { transform: rotate(45deg) translateX(-50%) translate(5px, 10px); }
  .hamburger .icon.open::after { transform: rotate(-45deg) translateX(-50%) translate(5px, -10px); }
  .hamburger .icon.open { background-color: transparent; }

  .b {
    border-left: 2px solid #ffffff; /* Assuming $font-color is black */
    height: 125px;
    position: relative; /* Ensures pseudo-elements position relative to this */
    width: 60px;
  }
  
  .b:before,
  .b:after {
    content: '';
    position: absolute;
    border-color: #ffffff; /* Assuming $font-color is black */
    border-width: 2px 2px 2px 0;
    border-style: solid;
  }
  
  .b:before {
    border-radius: 0 240% 180% 0 / 0 180% 180% 0;
    height: 52px;
    top: 0;
    width: 52px;
    left: 2px; /* Adjust 'left' to close the gap */
  }
  
  .b:after {
    border-radius: 0 180% 220% 0 / 0 180% 180% 0;
    height: 67px;
    bottom: 0;
    width: 66px;
    left: -2px; /* Adjust 'left' to close the gap */
  }

  .m {
    margin-top: -40px;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    height: 125px;
    overflow: hidden;
    top: 20px;
    width: 80px;
    position: relative; /* Ensure position is set for absolute positioning of children */
  }
  
  .m:before {
    background: #ffffff;
    content: '';
    height: 125px;
    position: absolute;
    top: 0;
    right: 19px;
    transform: skew(-18deg);
    width: 2px;
  }
  
  .m:after {
    background: #ffffff;
    content: '';
    height: 125px;
    position: absolute;
    top: 0;
    left: 19px;
    transform: skew(18deg);
    width: 2px;
  }

