.App-header {
    height: 300px; /* Initial height */
    background-image: url('../images/bmb-live2.webp');
    background-size: cover;
    background-position: center top;
    transition: height 0.5s ease-out; /* Smooth transition for height adjustment */
    color: rgb(255, 238, 232);
    display: flex;
    justify-content: space-between; /* Align items to each side */
    padding: 0.5rem 1rem; /* Adjusted padding */
    align-items: center;
    position: relative;
  }

  .bmb {
    display: flex;
    justify-content: space-between; /* Align items to each side */
    align-items: center;
    width: 250px;
  }
  
  .App-header a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  .App-header a:hover {
    background-color: #fff6e9;
    color: black;
  }
  
  .App-header a.active {
    color: rgb(39, 0, 0);
  }
  
  .nav-logo {
    height: 3rem; /* Adjust based on your preference */
    width: auto; /* Maintains the aspect ratio */
  }
  
  .mobile-nav {
    position: absolute;
    top: 100%; /* Position right below the header */
    right: 0;
    background-color: #fff7ec; /* Example background color */
    width: 100%; /* Full width */
  }
  
  .mobile-nav.active {
    display: block; /* Show when active */
  }
  
  .mobile-nav ul {
    list-style-type: none;
  }
  
  .mobile-nav li {
    text-align: center;
    padding: 10px 0;
  }
  
  .mobile-nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1); /* Example color */
    display: block;
  }

  .hamburger {
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px; /* Adjust the width as needed */
    height: 48px; /* Adjust the height as needed */
    position: relative; /* Positions the icon lines within */
    order: -1; /* Ensures the hamburger is always on the left */
  }
  
  .hamburger .icon,
  .hamburger .icon::before,
  .hamburger .icon::after {
    content: '';
    background-color: #ffebeb; /* or any color that stands out against your header */
    height: 2px;
    width: 30px; /* Adjust based on your design preference */
    position: absolute;
    transition: transform 0.3s ease;
  }
  
  .hamburger .icon::before { transform: translateY(-10px) translateX(-50%); }
  .hamburger .icon::after { transform: translateY(10px) translateX(-50%); }
  
  .hamburger .icon.open::before { transform: rotate(45deg) translateX(-50%) translate(5px, 10px); }
  .hamburger .icon.open::after { transform: rotate(-45deg) translateX(-50%) translate(5px, -10px); }
  .hamburger .icon.open { background-color: transparent; }

  .b {
    border-left: 2px solid #ffffff; /* Assuming $font-color is black */
    height: 125px;
    position: relative; /* Ensures pseudo-elements position relative to this */
    width: 60px;
  }
  
  .b:before,
  .b:after {
    content: '';
    position: absolute;
    border-color: #ffffff; /* Assuming $font-color is black */
    border-width: 2px 2px 2px 0;
    border-style: solid;
  }
  
  .b:before {
    border-radius: 0 240% 180% 0 / 0 180% 180% 0;
    height: 52px;
    top: 0;
    width: 52px;
    left: 2px; /* Adjust 'left' to close the gap */
  }
  
  .b:after {
    border-radius: 0 180% 220% 0 / 0 180% 180% 0;
    height: 67px;
    bottom: 0;
    width: 66px;
    left: -2px; /* Adjust 'left' to close the gap */
  }

  .m {
    margin-top: -40px;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    height: 125px;
    overflow: hidden;
    top: 20px;
    width: 80px;
    position: relative; /* Ensure position is set for absolute positioning of children */
  }
  
  .m:before {
    background: #ffffff;
    content: '';
    height: 125px;
    position: absolute;
    top: 0;
    right: 19px;
    transform: skew(-18deg);
    width: 2px;
  }
  
  .m:after {
    background: #ffffff;
    content: '';
    height: 125px;
    position: absolute;
    top: 0;
    left: 19px;
    transform: skew(18deg);
    width: 2px;
  }