.music-page {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  
  .music-player-container {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .audio-player {
    max-width: 80%; /* Adjust as needed */
  }