@import url('https://fonts.googleapis.com/css2?family=REM:wght@100&display=swap');

.music-page {
  display: flex;
  height: 70vh;
  font-family: 'REM', sans-serif; /* Applies the REM font */
}

.song-list {
  width: 30%;
  background-color: rgba(110, 70, 80, 0.1);
  color: white;
  overflow-y: auto;
  padding: 20px;
  margin: 0;
}

.song-item {
  cursor: pointer;
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
  padding-bottom: 10px;
  transition: background-color 0.4s;
}

.music-player-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative; /* To position controls absolutely within it */
  max-width: 700px;
  max-height: 600px;
}

.controls {
  position: absolute;
  bottom: 0px; /* Adjust as needed */
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 0px;
  margin: 0;
}

.song-item:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.song-item.active {
  background-color: rgba(0, 0, 0, 0.6);
}

.controls button {
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.controls .song-info {
  color: white;
  margin: 0 20px;
}

.progress-container {
  width: 30%;
  height: 5px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 1rem;
  background-color: rgb(255, 255, 255);
}

.progress-bar {
  background-color: rgb(145, 0, 135);
  height: 100%;
  width: 0;
}

@media (max-width: 768px) {
  .music-page {
    flex-direction: column-reverse; /* Stack song list and player on top of each other */
    height: auto; /* Adjust height for mobile */
  }

  .song-list {
    width: 100%; /* Full width on mobile */
    height: 50vh; /* Set a height for the scrollable list */
    overflow-y: auto; /* Enable scrolling for the song list */
    padding: 0px; /* Adjust padding for smaller screens */
  }

  .music-player-container {
    width: 100%; /* Full width on mobile */
    height: 50vh; /* Allocate remaining space for player */
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .controls {
    width: 100%; /* Full width controls */
    flex-direction: column; /* Stack controls vertically */
    align-items: center; /* Center controls */
  }

  .controls h2, h4 {
    color: white;
    margin: 0.4rem 0;
  }

  .progress-container {
    width: 80%; /* Make progress bar wider on mobile */
    margin: 10px 0; /* Add some margin above and below */
  }

  .controls button {
    padding: 0 1.5rem; /* Adjust padding for smaller screens */ 
  }
}

/* Consider adding styles for buttons to be more touch-friendly */
@media (max-width: 480px) {
  .controls button {
    font-size: 2rem; /* Increase font size for better touch targets */
    padding: 1rem; /* Increase padding */
    margin: 0 1rem; /* Add more space between buttons */
  }

  .song-item {
    font-size: 0.9rem; /* Adjust text size for small screens */
  }
}