.bio-and-photo-container {
  display: flex;
  gap: 20px; /* Adds space between the logo and the bio text */
  padding: 20px;
  margin: 2% 0;
}

/* Styling for the container that holds the logo image */
.my-bio-photo {
  flex-basis: 28%;
}

.my-bio-photo img {
  width: 300px; /* Or any size you prefer */
  height: auto; /* Keeps the aspect ratio of the image */
  margin-top: 30%;
  border-radius: 3%; /* Rounds the corners of the image */
}

/* Styling for the bio text container */
.my-bio-container {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 700px;
}

.my-bio-container h1 {
  text-align: center;
}

.my-bio-container h4 {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
  padding-bottom: 0.25rem;
  display: inline-block;
}

@media (max-width: 768px) {
  .bio-and-photo-container {
      flex-direction: column;
    }

    .my-bio-photo img {
      width: 200px; /* Or any size you prefer */
      height: auto; /* Keeps the aspect ratio of the image */
      margin-top: 0;
      border-radius: 2%; /* Rounds the corners of the image */
    }
    .my-bio-container h1 {
      width: 100%;
    }
  }