@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, var(--dark-gray), var(--dark-purple), var(--white-gold), black);
  background-size: 400% 400%;
  animation: sandSmokeEffect 20s ease infinite;
  text-align: center;
  color: rgb(255, 248, 232);
}

:root {
  --dark-purple: #301555;
  --white-gold: #B5A642;
  --dark-gray: #333333;
  --sand-white: #F2E8CF;
}

iframe {
  border: none;
  width: 90vw;
  height: 55vw;
  max-width: 700px;
  max-height: 400px;
}

@keyframes sandSmokeEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  background-color: #563f31; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid #f6fff6;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

/* This ensures content between header and footer stretches to fill available space */
.Routes {
  flex: 1;
  display: flex;
  flex-direction: column;
}